__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
*.db
.DS_Store
**/.env
user-service/.env
book-service/.env
borrowing-service/.env

#k8s/user-service/secrets.yaml
#k8s/borrowing-service/secrets.yaml
#k8s/book-service/secrets.yaml