fastapi
uvicorn
sqlalchemy
mysql-connector-python
bcrypt
pydantic
python-dotenv
gunicorn
pytest
pytest-asyncio
httpx
alembic
sqlalchemy-utils
python-multipart
pydantic[email]
passlib
python-jose
dotenv

