fastapi
uvicorn
sqlalchemy
mysql-connector-python
pydantic
python-dotenv
gunicorn
pytest
pytest-asyncio
httpx
alembic
sqlalchemy-utils
python-multipart
pydantic[email]
passlib
python-jose
dotenv
prometheus-fastapi-instrumentator
requests
bcrypt==4.0.1
pytest

